body {
  margin: 12px;
  font-family: Arial;
}

.header {
  padding: 100px;
  
  background: #c69b6e;
  color: white;
  font-size: 30px;
}

.tab {
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #c69b6e;
}


.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 50px;
  transition: 0.3s;
  font-size: 25px;

}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
* {box-sizing:border-box}

/* Slideshow container */

.footer {
 
  display: inline-block;

}
.footext{
   text-align: left;
  display: inline-block;
  position: center;
  word-spacing: 50px;

}
.ending {
  display: inline-block;

}

input[type=text] {
  display: block;
  width: 20%;
  padding: 5px 15px;
  margin: 15px 0;
  box-sizing: border-box;
  border-radius: 12px;
}

input[type=submit]{

  width: 8%;
  padding: 5px 15px;
  margin: 15px 0;
  box-sizing: border-box;
  border-radius: 12px;
 position: absolute;
  top: 800px;
  left: 1000px;
  background-color: #fdf6e9;
  color: black;
}
input[type=message] {
  display: block;
  width: 40%;
  margin: 10px 0;
  padding: 100px 10px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
}

